<h5>ĐỔI MẬT KHẨU</h5>
<form [formGroup]="changePass" (ngSubmit)="updateChangePass()">
    <div class="row">
      <div class="col-sm-12">
        <nb-card>
          <nb-card-body>
            <div class="form-group">
              <label>Mật khẩu cũ</label>
              <input type="password" nbInput fullWidth formControlName="old_password">
              <div *ngIf="submitted && f.old_password.errors">
                <small *ngIf="f.old_password.errors.required" class="text-danger small-popup">Mật khẩu cũ không được bỏ trống!</small>
                <small *ngIf="f.old_password.errors.minlength" class="text-danger small-popup">Mật khẩu phải ít nhất 6 kí tự! <br></small>
              </div>
            </div>
            <div class="form-group">
              <label>Mật khẩu mới</label>
              <input type="password" nbInput fullWidth formControlName="new_password">
              <div *ngIf="submitted && f.new_password.errors">
                <small *ngIf="f.new_password.errors.required" class="text-danger small-popup">Mật khẩu mới không được bỏ trống!</small>
                <small *ngIf="f.new_password.errors.minlength" class="text-danger small-popup">Mật khẩu phải ít nhất 6 kí tự! <br></small>
              </div>
              </div>
            <div class="form-group">
              <label>Xác nhận mật khẩu mới</label>
              <input type="password" nbInput fullWidth formControlName="cf_password">
              <div *ngIf="submitted && f.cf_password.errors">
                <small *ngIf="f.cf_password.errors.required" class="text-danger small-popup">Xác nhận mật khẩu mới không được bỏ trống!</small>
                <small *ngIf="f.cf_password.errors.minlength" class="text-danger small-popup">Mật khẩu phải ít nhất 6 kí tự! <br></small>
                <small *ngIf="f.cf_password.errors.mustMatch" class="text-danger small-popup">Mật khẩu không trùng khớp!</small>
              </div>
            </div>
            <button type="submit" nbButton status="success">Lưu</button>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
</form>
