<nb-card>
  <nb-card-header>ĐỔI MẬT KHẨU</nb-card-header>
  <nb-card-body>
    <form [formGroup]="changePass" (ngSubmit)="resetPassword()">
      <div class="form-group">
        <label class="label">Mật khẩu cũ</label>
        <input type="password" nbInput fullWidth formControlName="old_password">
        <div *ngIf="submitted && f.old_password.errors" >
          <small *ngIf="f.old_password.errors.required" class="text-danger small-popup">Mật khẩu cũ không được bỏ trống!</small>
        </div>
      </div>
      <div class="form-group">
        <label class="label">Mật khẩu mới</label>
        <input type="password" nbInput fullWidth formControlName="new_password">
        <div *ngIf="submitted && f.new_password.errors">
          <small *ngIf="f.new_password.errors.required" class="text-danger small-popup">Mật khẩu mới không được bỏ trống!</small>
        </div>
      </div>
      <div class="form-group">
        <label class="label">Xác nhận mật khẩu mới</label>
        <input type="password" nbInput fullWidth formControlName="cf_password">
        <div *ngIf="submitted && f.cf_password.errors">
          <small *ngIf="f.cf_password.errors.required" class="text-danger small-popup">Xác nhận mật khẩu mới không được bỏ trống!</small>
        </div>
      </div>
      <button type="submit" nbButton status="success">Cập nhật</button>
    </form>
  </nb-card-body>
</nb-card>
