<div class="container">
  <nb-card>
    <nb-card-header>
        <div class="text-center">
          <img src="assets/images/logofukuro.png" width="15%">
        </div>
    </nb-card-header>
    <nb-card-body>
      <div class="css-form-login row pb-5">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
          <h5 class="text-center">ĐẶT LẠI MẬT KHẨU</h5>
          <div class="form-group">
            <input type="password" nbInput fullWidth status="primary" placeholder="Nhập mật khẩu mới">
          </div>
          <div class="form-group">
            <input type="password" nbInput fullWidth status="primary" placeholder="Xác nhận mật khẩu mới">
          </div>
          <div class="text-center d-block">
            <button type="submit" nbButton status="primary" fullWidth>Cập nhật</button>
          </div>
        </div>
        <div class="col-lg-3"></div>
      </div>
    </nb-card-body>
  </nb-card>
</div>


