<div class="row mb-3">
  <div class="col-lg-6">
    <h3>THỐNG KÊ</h3>
  </div>
  <div class="col-lg-6">
    <div class="float-right">
      <button (click)="openWindow(contentTemplate)" nbButton status="primary">
        <span *ngIf="date == '' && date2 == ''">Lọc</span>
        <span *ngIf="date != '' && date2 != ''">
          Lọc:  {{ date | date: 'dd/MM/yyyy' }} - {{ date2 | date: 'dd/MM/yyyy' }}
        </span>

      </button>
    </div>
  </div>
  <ng-template #contentTemplate>
    <div class="calendars" >
      <div class="calendar-container">
        <nb-calendar-range [range]="range" (rangeChange)="getRangeDate($event)"></nb-calendar-range>
      </div>
    </div>
  </ng-template>
</div>


<div class="row">
  <div class="col-xxxl-3 col-md-3 card-count" *ngFor="let statusCard of statusCards">
    <nb-card>
      <div class="icon-container">
        <div class="icon status-{{ statusCard.type }}">
          <i [ngClass]="statusCard.iconClass"></i>
        </div>
      </div>

      <div class="details">
        <div class="title h5">{{ statusCard.amount }}</div>
        <div class="status paragraph-2">{{ statusCard.title }}</div>
      </div>
    </nb-card>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Thống kê hỏi đáp</nb-card-header>
      <div *ngIf="dataEchartsOption.length > 0">
        <nb-card-body>
          <div echarts [options]="optionsCircle" class="echart"></div>
        </nb-card-body>
      </div>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Thống kê doanh thu</nb-card-header>
      <div *ngIf="dataBarOption.length > 0">
        <nb-card-body>
          <div echarts [options]="options" class="echart"></div>
        </nb-card-body>
      </div>
    </nb-card>
  </div>
</div>
