<h5>Cập Nhật Tài Khoản Người Quản Trị</h5>
<form [formGroup]="admins" (ngSubmit)="updateAdmin()">
  <div class="row">
    <div class="col-sm-9">
      <nb-card>
        <nb-card-header>Thông tin cơ bản</nb-card-header>
        <nb-card-body>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="label col-form-label">Họ</label>
                <input type="text" nbInput fullWidth formControlName="lastName">
                <div *ngIf="submitted && f.lastName.errors">
                  <small *ngIf="f.lastName.errors.required" class="text-danger small-popup">Họ không được bỏ trống!</small>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="label col-form-label">Tên</label>
                <input type="text" nbInput fullWidth formControlName="firstName">
                <div *ngIf="submitted && f.firstName.errors">
                  <small *ngIf="f.firstName.errors.required" class="text-danger small-popup">Tên không được bỏ trống!</small>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="label col-form-label">Tên đăng nhập</label>
                <input type="text" nbInput fullWidth formControlName="username">
                <div *ngIf="submitted && f.username.errors">
                  <small *ngIf="f.username.errors.required" class="text-danger small-popup">Tên đăng nhập không được bỏ trống!</small>
                  <small *ngIf="f.username.errors.required" class="text-danger small-popup">Tên đăng nhập phải ít nhất 6 kí tự!!</small>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="label col-form-label">Email</label>
                <input type="email" nbInput fullWidth formControlName="email">
                <div *ngIf="submitted && f.email.errors">
                  <small *ngIf="f.email.errors.required" class="text-danger small-popup">Email không được bỏ trống!</small>
                  <small *ngIf="f.email.errors.email" class="text-danger small-popup">Email chưa đúng định dạng!</small>
                </div>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="label col-form-label">Số điện thoại</label>
                <input type="text" nbInput fullWidth formControlName="phone">
                <div *ngIf="submitted && f.phone.errors">
                  <small *ngIf="f.phone.errors.required" class="text-danger small-popup">Số điện thoại không được bỏ trống!</small>
                  <small *ngIf="f.phone.errors.pattern" class="text-danger small-popup">Số điện thoại chưa đúng!</small>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <label class="label col-form-label">Phân quyền</label>
              <nb-radio-group formControlName="role">
                <nb-radio value="admin">Quản trị viên</nb-radio>
                <nb-radio value="staff">Nhân viên</nb-radio>
              </nb-radio-group>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-sm-3">
      <nb-card>
        <nb-card-header>Ảnh đại diện</nb-card-header>
        <nb-card-body>
          <div class="form-group">
            <!-- Image Preview -->
            <div class="imagePreview" *ngIf="admins.value['avatar']">
              <img [src]="admins.value['avatar']" [alt]="">
            </div>

            <!-- Select File -->
            <input type="file" nbInput fullWidth accept="image/*" (change)="showPreview($event)" />
            <div *ngIf="submitted && f.avatar.errors">
              <small *ngIf="f.avatar.errors.required" class="text-danger small-popup">Ảnh đại diện không được bỏ trống!</small>
            </div>
          </div>
        </nb-card-body>
      </nb-card>

      <nb-card>
        <nb-card-header>Trạng thái</nb-card-header>
        <nb-card-body>
          <div class="form-group">
            <nb-radio-group formControlName="status">
              <nb-radio value="1">Kích hoạt</nb-radio>
              <nb-radio value="0">Vô hiệu hoá</nb-radio>
            </nb-radio-group>
          </div>
        </nb-card-body>
      </nb-card>

      <button type="submit" nbButton status="success" fullWidth>Cập nhật</button>
    </div>
  </div>
</form>
