<div class="container">
  <nb-card>
    <nb-card-header>
        <div class="text-center">
          <img src="assets/images/logofukuro.png" width="15%">
        </div>
    </nb-card-header>
    <nb-card-body>
      <div class="css-form-login row pb-5">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
          <h5 class="text-center">LẤY LẠI MẬT KHẨU</h5>
          <div class="form-group">
            <input type="email" nbInput fullWidth status="primary" placeholder="Nhập email">
          </div>
          <div class="text-center d-block">
            <button type="submit" nbButton status="primary" fullWidth>Gửi</button>
          </div>
          <div class="pt-2">
            <a routerLink="/login" class="text-decoration-none d-inline">
              <nb-icon icon="arrow-back-outline"></nb-icon> <span style="vertical-align: top">Quay lại</span>
            </a>
          </div>
        </div>
        <div class="col-lg-3"></div>
      </div>
    </nb-card-body>
  </nb-card>
</div>


