<div class="container">
  <nb-card>
    <nb-card-header>
        <div class="text-center">
          <img src="assets/images/logofukuro.png" width="15%">
        </div>
    </nb-card-header>
    <nb-card-body>
      <div class="css-form-login row pb-5" *ngIf="done == false">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
          <form [formGroup]="forgotPassword" (ngSubmit)="onSubmit()">
            <h5 class="text-center">LẤY LẠI MẬT KHẨU</h5>
            <div class="form-group">
              <input type="text" nbInput fullWidth status="primary" placeholder="Nhập tên đăng nhập" formControlName="username">
              <div *ngIf="submitted && f.username.errors">
                <small *ngIf="f.username.errors.required" class="text-danger small-popup">Tên đăng nhập không được bỏ trống!</small>
                <small *ngIf="f.username.errors.minLength" class="text-danger small-popup">Tên đăng nhập phải ít nhất 6 kí tự!!</small>
              </div>
            </div>
            <div class="form-group">
              <input type="email" nbInput fullWidth status="primary" placeholder="Nhập email" formControlName="email">
              <div *ngIf="submitted && f.email.errors">
                <small *ngIf="f.email.errors.required" class="text-danger small-popup">Email không được bỏ trống!</small>
                <small *ngIf="f.email.errors.email" class="text-danger small-popup">Email chưa đúng định dạng!</small>
              </div>
            </div>
            <div class="text-center d-block">
              <button type="submit" nbButton status="primary" fullWidth>Gửi</button>
            </div>
            <div class="pt-2">
            <a routerLink="/auth/login" class="text-decoration-none d-inline">
              <nb-icon icon="arrow-back-outline"></nb-icon> <span style="vertical-align: top">Quay lại</span>
            </a>
          </div>
          </form>
        </div>
        <div class="col-lg-3"></div>
      </div>
      <div *ngIf="done == true">
        <p class="text-success text-center">Yêu cầu đặt lại mật khẩu đã gửi thành công! Vui lòng kiểm tra email!!!</p>
      </div>
    </nb-card-body>
  </nb-card>
</div>


