<h5>Gửi phản hồi</h5>
<form [formGroup]="feedback" (ngSubmit)="sendFeedback()">
  <nb-card>
    <nb-card-header>Chủ đề</nb-card-header>
    <nb-card-body>
      <div class="form-group">
        <input type="text" nbInput fullWidth formControlName="subject" />
        <div *ngIf="submitted && f.subject.errors">
          <small *ngIf="f.subject.errors.required" class="text-danger small-popup">Chủ đề không được bỏ trống!</small>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
  <div class="row">
    <div class="col-sm-12">
        <nb-card>
          <nb-card-header>Nội dung</nb-card-header>
          <nb-card-body>
            <div class="form-group">
<!--              <ckeditor [config]="{ extraPlugins: 'divarea', height: '320' }" formControlName="message"></ckeditor>-->
              <textarea rows="8" nbInput fullWidth formControlName="message"></textarea>
              <div *ngIf="submitted && f.message.errors">
                <small *ngIf="f.message.errors.required" class="text-danger small-popup">Nội dung bài viết không được bỏ trống!</small>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
  </div>
  <button type="submit" nbButton status="success" fullWidth>Gửi phản hồi</button>
</form>
