<h5>Thêm Mới Khuyến Mãi</h5>
<form [formGroup]="promotion" (ngSubmit)="savePromotion()">
  <div class="row">
    <div class="col-sm-9">
      <nb-card>
        <nb-card-header>Thông tin cơ bản</nb-card-header>
        <nb-card-body>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="label col-form-label">Tên khuyến mãi</label>
                <input type="text" nbInput fullWidth formControlName="name">
                <div *ngIf="submitted && f.name.errors">
                  <small *ngIf="f.name.errors.required" class="text-danger small-popup">Tên khuyến mãi không được bỏ trống!</small>
                </div>
              </div>
              <div class="form-group">
                <label class="label col-form-label">Ngày bắt đầu</label>
                <input type="date" nbInput fullWidth formControlName="startDate">
                <div *ngIf="submitted && f.startDate.errors">
                  <small *ngIf="f.startDate.errors.required" class="text-danger small-popup">Ngày bắt đầu không được bỏ trống!</small>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="label col-form-label">Giảm giá</label>
                <input type="text" nbInput fullWidth formControlName="discount">
                <div *ngIf="submitted && f.discount.errors">
                  <small *ngIf="f.discount.errors.required" class="text-danger small-popup">Giảm giá không được bỏ trống!</small>
                </div>
              </div>
              <div class="form-group">
                <label class="label col-form-label">Ngày kết thúc</label>
                <input type="date" nbInput fullWidth formControlName="endDate">
                <div *ngIf="submitted && f.endDate.errors">
                  <small *ngIf="f.endDate.errors.required" class="text-danger small-popup">Ngày kết thúc không được bỏ trống!</small>
                </div>
                <div *ngIf="submitted && f.endDate">
                  <small *ngIf="promotion.hasError('notValid')" class="text-danger small-popup">Ngày kết thúc phải lớn hơn ngày bắt đầu!</small>
                </div>
              </div>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-sm-3">
      <nb-card>
        <nb-card-header>Trạng thái</nb-card-header>
        <nb-card-body>
          <div class="form-group">
            <nb-radio-group formControlName="status">
              <nb-radio value="1">Kích hoạt</nb-radio>
              <nb-radio value="0">Vô hiệu hoá</nb-radio>
            </nb-radio-group>
          </div>
        </nb-card-body>
      </nb-card>
      <button type="submit" nbButton status="success" fullWidth>Lưu</button>
    </div>
  </div>
</form>
